.games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.games-container :is(*) {
    transition: ease-in-out 0.3s;
}

.data-study-btn {
    text-align: center;
    margin-top: 5vh;
    padding: 1vh 0;
    width: 20vh;
    font-size: 2.5vh;
    border-radius: 1vh;
    border: 0.5px solid var(--color-Three);
    background: linear-gradient(
        90deg, 
        var(--color-Two) 20%, 
        var(--color-Three) 71%
    );
}

.data-study-btn:hover {
    cursor: pointer;
    border-radius: 4vh;
    width: 15vh;
    color: white;
    background: linear-gradient(
        90deg, 
        var(--color-Three) 20%, 
        var(--color-Two) 71%
    );
}

.data-study-btn.active {
    border-radius: 4vh;
    width: 15vh;
    box-shadow: 
        0 0 10px #ff9900, 
        0 0 20px #f700ff, 
        0 0 30px #ff00dd;
    background: linear-gradient(
        90deg, 
        var(--color-Three) 20%, 
        var(--color-Two) 71%
    );
    color: white;
}

.games-table {
    margin: 3vh 0;
    width: 170vh;
    border-collapse: collapse;
    border: 1px solid black;
}

.games-table td {
    padding: 2vh 3vh;
    border: 1px solid black;
}

.games-table thead tr td {
    text-align: center;
    font-size: 25px;
    background-color: var(--color-One);
    border: 1px solid var(--color-One);
}

.games-table tbody tr td {
    font-size: 20px;
}

.games-table tbody tr:nth-child(odd) {
    background-color: rgb(184, 184, 184);
}

.games-table tbody tr:nth-child(even) {
    background-color: rgb(141, 141, 141);
}

.pagination {
    display: flex;
    gap: 1.5vh;
    margin-bottom: 7vh;
}

.pagination .pagination-btn {
    padding: 1vh 0;
    width: 3vh;
    font-size: 2vh;
    border-radius: 1vh;
    border: 0.5px solid var(--color-Three);
    background-color: var(--color-Three);
}

.pagination .pagination-btn:hover {
    cursor: pointer;
    color: white;
    border-radius: 2vh;
}
